PORT=
ORIGIN_ADDRESS=
ADMINER_PORT=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
REDIS_PORT=
REDIS_URL=
MINIO_API_PORT=
MINIO_CLIENT_PORT=
MINIO_USERNAME=
MINIO_PASSWORD=
JWT_SECRET=
JWT_ACCESS_EXPIRES_IN_MINUTES=
JWT_REFRESH_EXPIRES_IN_DAYS=
JWT_ALGORITHM=